{% extends "base.html" %}

{% block title %}Cadastrar{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Cadastrar Pessoa</h1>
    
    <h2>Dados Pessoais</h2>
    <form method="POST" action="{{ url_for('main.cadastrarPessoa') }}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ request.form['nome'] if request.form.get('nome') else nome }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="cpf">CPF:</label>
                <input type="text" class="form-control" id="cpf" name="cpf" value="{{ request.form['cpf'] if request.form.get('cpf') else cpf }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="data_nascimento">Data de Nascimento:</label>
                <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" value="{{ request.form['data_nascimento'] if request.form.get('data_nascimento') else data_nascimento }}" required>
            </div>
        </div>

        <hr>

        <h2>Endereço</h2>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="cep">CEP:</label>
                <input type="text" class="form-control" id="cep" name="cep" value="{{ request.form['cep'] if request.form.get('cep') else cep }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="rua">Rua:</label>
                <input type="text" class="form-control" id="rua" name="rua" value="{{ request.form['rua'] if request.form.get('rua') else rua }}" required>
            </div>
            <div class="form-group col-md-3">
                <label for="numero">Número:</label>
                <input type="text" class="form-control" id="numero" name="numero" value="{{ request.form['numero'] if request.form.get('numero') else numero }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bairro">Bairro:</label>
                <input type="text" class="form-control" id="bairro" name="bairro" value="{{ request.form['bairro'] if request.form.get('bairro') else bairro }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="cidade_estado">Cidade:</label>
                <input type="text" class="form-control" id="cidade" name="cidade" value="{{ request.form['cidade'] if request.form.get('cidade') else cidade }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="cidade_estado">Estado:</label>
                <input type="text" class="form-control" id="estado" name="estado" value="{{ request.form['estado'] if request.form.get('estado') else estado }}" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ request.form['email'] if request.form.get('email') else email }}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="celular">Celular:</label>
                <input type="text" class="form-control" id="celular" name="celular" value="{{ request.form['celular'] if request.form.get('celular') else celular }}" required>
            </div>
        </div>

        <hr>

        <h2>Documentos</h2>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="cnh">CNH:</label>
                <input type="text" class="form-control" id="cnh" name="cnh" value="{{ request.form['cnh'] if request.form.get('cnh') else cnh }}" required>
            </div>
            <div class="form-group col-md-4">
                <label for="cnh_categ">Categoria CNH:</label>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="cnh_categA" value="A" id="cnh_A">
                        <label class="form-check-label" for="cnh_A">A</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="cnh_categB" value="B" id="cnh_B">
                        <label class="form-check-label" for="cnh_B">B</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="cnh_categC" value="C" id="cnh_C">
                        <label class="form-check-label" for="cnh_C">C</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="cnh_cateD" value="D" id="cnh_D">
                        <label class="form-check-label" for="cnh_D">D</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="cnh_categE" value="E" id="cnh_E">
                        <label class="form-check-label" for="cnh_E">E</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="data_vencimento_cnh">Validade:</label>
                <input type="date" class="form-control" id="data_vencimento_cnh" name="data_vencimento_cnh" value="{{ request.form['data_vencimento_cnh'] if request.form.get('data_vencimento_cnh') else data_vencimento_cnh }}" required>
            </div>
        </div>

        <hr>
        
        

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% endblock %}
