{% extends "base.html" %}

{% block title %}Consulta Empresa{% endblock %}

{% block content %}
    <h1>Empresas Cadastradas</h1>
    <table class="table table-striped me-auto mb-2 mb-lg-0" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in empresas %}
           
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.nome }}</td>
                <td>{{ empresa.cnpj }}</td>
                <td>{{ empresa.cidade }}</td>
                <td>{{ empresa.telefone }}</td>
                <td>
                    <a href="{{ url_for('main.editarEmpresa', id=empresa.id) }}"class="btn btn-warning btn-sm">Editar</a>
                    <a href="{{ url_for('main.deletarEmpresa', id=empresa.id) }}"class="btn btn-danger btn-sm">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
